.container {
    width: 1080px;
    margin: auto;
}

@media (max-width: 1200px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 820px) {
    .container {
        width: 480px;
    }
}
