.title-bar {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
}

.title {
    font-size: 1.7rem;
    margin-right: auto;
}

.account-icon {
    margin-right: 10px
}

.client-form {
    max-width: 350px;
}

.field {
    margin-bottom: 10px;
}

.save-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    margin-top: 30px;
    margin-left: auto;
    border: none;
    border-radius: 5px;
    background-color: #3AB72F;
    color: white;
    font-size: 14px;
}
