.title-bar {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
}

.title {
    font-size: 1.7rem;
    margin-right: auto;
}

.account-icon {
    margin-right: 10px
}

.create-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4486EA;
    color: white;
    font-size: 16px;
}

