.title-bar {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
}

.title {
    font-size: 1.7rem;
    margin-right: auto;
}

.account-icon {
    margin-right: 10px
}
