<div class="title-bar">
  <div>Listagem de Clientes</div>
  <a routerLink="/cliente">
    <button>NOVO</button>
  </a>
</div>

<table>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{client.name}}</td>
      <td>{{client.cnpj}}</td>
      <td>{{client.status}}</td>
      <td>
        <a routerLink="/cliente">
          <button>EDITAR</button>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div>
  Exibindo {{clients.length}} de {{clients.length}} client{{clients.length === 1 ? "e" : "es"}}
</div>
