<div class="title-bar">
  <img class="account-icon" src="/assets/account.svg"/>
  <div class="title">Listagem de Clientes</div>
  <a routerLink="/cliente">
    <button class="create-button">
      <img src="/assets/add.svg"/>
      <span>NOVO</span>
    </button>
  </a>
</div>

<table>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{client.name}}</td>
      <td>{{client.cnpj}}</td>
      <td>{{client.status}}</td>
      <td>
        <a routerLink="/cliente">
          <button class="edit-button">EDITAR</button>
        </a>
      </td>
    </tr>
  </tbody>
  <tfoot>
    Exibindo {{clients.length}} de {{clients.length}} client{{clients.length === 1 ? "e" : "es"}}
  </tfoot>
</table>
