.title-bar {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
}

.title {
    font-size: 1.7rem;
    margin-right: auto;
}

.account-icon {
    margin-right: 10px
}

.create-button {
    display: flex;
    justify-content: center;
    width: 95px;
    align-items: center;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #4486EA;
    color: white;
    font-size: 14px;
    img {
        margin-right: 10px;
    }
}

.edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #E18F53;
    color: white;
    font-size: 14px;
    margin-left: auto;
}

table {
    width: 100%;
    border-spacing: 0 10px;
}

td {
    background-color: white;
    padding: 10px;
}
